In [1]:
import pandas as pd

df = pd.DataFrame([[1, 2], [3, 4],[5, 6],[7, 8]], columns=['X', 'Y'])

df.head()

   X  Y
0  1  2
1  3  4
2  5  6
3  7  8

In [2]:
df.loc[0, 'Y']

2

In [3]:
df.loc[[0, 1], 'X']

0    1
1    3
Name: X, dtype: int64

In [4]:
df.loc[[0, 1], ['X']]

   X
0  1
1  3

In [5]:
df.loc[[False, True, True, True], ['X']]

   X
1  3
2  5
3  7

In [6]:
df.loc[:, ['X']]

   X
0  1
1  3
2  5
3  7

In [7]:
df.loc[[1],:]

   X  Y
1  3  4

In [8]:
df['X'] == 1

0     True
1    False
2    False
3    False
Name: X, dtype: bool

In [9]:
df.loc[df['X'] == 1 , 'X'] = 0

df.head()

   X  Y
0  0  2
1  3  4
2  5  6
3  7  8